---
title: 応募セッション一覧
---

<div class="alert alert-info" role="alert">
  これは応募いただいたセッションです。
  開催されるセッションは後日、参加者の投票を参考に決定されます。
</div>
<div class="text-right">
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet"
  data-via="{{ site.ja.twitter }}"
  data-related="{{ site.ja.twitter }}"
  data-hashtags="ScalaMatsuri">Tweet</a>
</div>

<div class="cfp-tag-list"></div>

<h2>40分英語</h2>
<div class="shuffle-session">
{% assign has_40en = false %}
{% for candidate in site.candidates_ja %}
  {% if candidate.length == 40 and candidate.language == "English" %}
    {% include_relative element.html candidate=candidate %}
    {% assign has_40en = true %}
  {% endif %}
{% endfor %}
</div>
{% unless has_40en %}
  <div class="text-muted">まだ応募がありません。</div>
{% endunless %}

<h2>40分日本語</h2>
<div class="shuffle-session">
{% assign has_40ja = false %}
{% for candidate in site.candidates_ja %}
  {% if candidate.length == 40 and candidate.language != "English" %}
    {% include_relative element.html candidate=candidate %}
    {% assign has_40ja = true %}
  {% endif %}
{% endfor %}
</div>
{% unless has_40ja %}
  <div class="text-muted">まだ応募がありません。</div>
{% endunless %}

<h2>15分英語</h2>
<div class="shuffle-session">
{% assign has15_en = false %}
{% for candidate in site.candidates_ja %}
  {% if candidate.length == 15 and candidate.language == "English" %}
    {% include_relative element.html candidate=candidate %}
    {% assign has15_en = true %}
  {% endif %}
{% endfor %}
</div>
{% unless has15_en %}
  <div class="text-muted">まだ応募がありません。</div>
{% endunless %}

<h2>15分日本語</h2>
<div class="shuffle-session">
{% assign has15_ja = false %}
{% for candidate in site.candidates_ja %}
  {% if candidate.length == 15 and candidate.language != "English" %}
    {% include_relative element.html candidate=candidate %}
    {% assign has15_ja = true %}
  {% endif %}
{% endfor %}
</div>
{% unless has15_ja %}
  <div class="text-muted">まだ応募がありません。</div>
{% endunless %}

<div class="text-center" style="margin-top: 30px;">
<a class="btn btn-info btn-lg" href="/ja/cfp/">私も何か話したい</a>
</div>

<hr>
{% include voting_ja.html %}

<script src="/js/lodash.min.js"></script>
<script src="/js/cfp-tag.js"></script>

