---
title: ScalaMatsuri スタッフ
---


<h2 class="text-center">運営メンバー</h2>
<div class="row">
{% for entry in site.data.staff.member %}
  {% include staff_entry_ja.html entry=entry %}
{% endfor %}
</div>
<h2 class="text-center">当日ボランティアスタッフ</h2>
<div class="row">
{% for entry in site.data.staff.volunteer %}
  {% include staff_entry_ja.html entry=entry %}
{% endfor %}
</div>

<script src="/js/grids.min.js"></script>
<script>
  // $('.staff-entry').responsiveEqualHeightGrid();
  $('.staff-entry').height("16em")
</script>
